models/
results/
src/pipelines/
benchmark/
lp-vlm/models/ovms-model/
performance-tools/
lp-vlm/src/loss_prevention_app.log
lp-vlm/vlm-results/
lp-vlm/src/utils/__pycache__/*
lp-vlm/src/agent/__pycache__/*
lp-vlm/src/__pycache__/*
lp-vlm/lp-vlm.env
vlm_loss_prevention.log
download-scripts/ovms-export-venv/